@mixin flexColumn () {
    display: flex;
    flex-direction: column;
}

$inputMargin: 10px 0;
$inputPadding: 10px;

form {
    @include flexColumn();
    padding: 0 10px;
    background-color: #fff;
    border-radius: 5px;

    h1 {
        text-align: center;
    }

    label{
        margin: $inputMargin;
        @include flexColumn();

        select {
            padding: $inputPadding;
            margin: $inputMargin;
            border-radius: $radius;
            border: 1px;
            background-color: #eee;
        }
    }

    .required-subtask {
        flex-direction: row;
        align-items: center;

        input  {
            margin: 10px 20px;
        }
    }

    fieldset  {
        padding: 0;
        margin: 0;
        width: 100%;
        border: 0;

        input[type="date"] {
            width: 97%;
        }
    }

    input {
        padding: $inputPadding;
        margin: $inputMargin;
        border-radius: $radius;
        background-color: #eee;
        border: 1px;
    }

    .btn {
        background-color: #169adc;
        color: #fff;
        border-radius: $radius;
        border: 1px;
        margin: 30px 0;
    }

    .exit {
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 5px;
    }
}

.create-add {
    position: relative;
    max-width: 768px;
    margin: auto;
    top: 20%;
    transform: translateY(-15%);
}

form[name="task-erasure"] {
    margin: 2px 0;
    padding: 0;

    input {
        margin: 0;
    }
}