$radius: 5px;
$allPadding: 15px 10px;
$marginElements: 10px 0;

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;

    .App {
        height: 100vh;

        header {
            h1 {
                text-align: center
            }

            .filter-display {
                position: absolute;
                left: 10px;
                top: 10px;

                .filterDropbtn {
                    left: 0;
                    top: 0;
                    cursor: pointer;
                    color: #4caf50;
                    font-weight: bold;
                    z-index: 10;
                }

                .dropdown-content {
                    display: none;
                    flex-direction: column;
                    position: relative;
                    top: 50px;
                    left: 10px;
                    background-color: #fff;
                    
                    span {
                        cursor: pointer;
                        padding: 10px;

                        &:hover {
                            background-color: #d4d4d4;
                        }
                    }
                }

                .show-filter-options {
                    display: flex;
                }
            }

    
            button {
                padding: 10px;
                border-radius: $radius;
                margin: 10px;
                background-color: #fff;
                border: 0px;
                font-size: 1rem;
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                font-weight: bold;
                color: #595959;
                border: 1px solid;
            }
        }
    
        .all-tasks {
            display: flex;
            justify-content: space-around;
            flex-flow: wrap;
        }
    }

}

@import './forms.scss';
@import './tasks.scss';
@import './subtask.scss';