.todo-subtasks {
    padding: 5px 0 10px 0;
    
    .subtasks-area {

        .subtask-total-price {
            text-align: right;
            padding: 5px;

            span {
                font-weight: bold;
            }
        }
    
        .subTasks {
            display: flex;
            margin: 5px 0;
            padding: 5px;
            align-items: baseline;
            cursor: move;
            justify-content: space-between;

            span {
                margin: 0 10px;
            }

            .subTasks-price {
                padding: 0;
                font-weight: bold;
                margin: 0;
            }
    
            input {
                margin: 5px 10px;
            }

            .concluded {
                text-decoration: line-through;
            }
        }
    }

    .add-subtask {
        padding: 10px 0;
        margin: 0 10px;
        font-weight: bold;
        cursor: pointer;
    }
}

