$marginBlock: 15px 0 10px;

.todo-task {
    background-color: #fff;
    border-radius: $radius;
    padding: $allPadding;
    min-width: 250px;
    margin: 10px;
    height: fit-content;

    .todo-header {
        display: flex;
        font-size: 1.2rem;
        justify-content: space-between;  
        padding: 0 0 10px;  
        
        .todo-name {
            align-items: center;
            display: flex;
            font-weight: 700;
            color: #595959;
            
            input {
                height: 17px;
                width: 30px;
                margin-left: 0;
            }
        }
        
        .todo-price {
            font-weight: bold;
            margin: 0 5px;
        }
    }

    .todo-description {
        text-align: center;
        margin: $marginElements;
        font-size: 1rem;
    }

    .todo-special {
        background-color: #f9f6e8;
        margin: $marginBlock;
        padding: $allPadding;
        border-radius: $radius;
        display: flex;
        flex-direction: column;

        div {
            padding: 5px;

            span {
                font-weight: 700;
            }
        }
    }

    .Other {
        background-color: #f5f8f9;
    }

    .Food {
        background-color: #f2fcee;
    }

    .Work {
        background-color: #eef2fc;
    }

    .todo-type {
        padding: $allPadding;
        border-radius: $radius;
        color: #82878e;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: $marginBlock;

        select {
            padding: 3px;
        }
    }

    .edit-btn {
        color: #fff;
        border-radius: 5px;
        background-color: #308db1;
        border: 0px;
        font-size: 1rem;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }

    .taskErasure {
        color: #fff;
        border-radius: $radius;
        background-color: #b13046;
        border: 0px;
        font-size: 1rem;
        width: 100%;
        margin: 2px 0;
        padding: 10px;
    }

    .last-update-by {
        display: inline-block;
        width: 99%;
        text-align: right;
        color: #c1c0c0;
        font-weight: bold;
        padding: 0 5px 15px;
    }

    .copy-clipboard {
        cursor: pointer;
        padding: 3px 8px;
        border-radius: $radius;
        border: 1px solid;
        background-color: #efefef;
        margin: 0;
    }
}

.no-tasks {
    text-align: center;
}


/* Animation */
.hide-todo {
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    opacity: 0;
}

/* Hide Concluded */
.task-concluded {
    display: none;
}

/* Display Concluded when filtered */
.filtered-display {
    display: block;
}